<h2 class='text-primary'>
	我們提供客制化 home securities and automation solutions, 客戶可依照需求選購元件。例如, 當門窗被打開時，你會立刻收到email及簡訊通知, 攝影機自動抓取5張照片存入你的 google drive。
	任何地方只要可以上網, 你就可以控制電源開關，開關定時設定, 查看 sensors 狀態，即時影像 (可手動抓圖出存到雲端). Our products include:</h2>
<h3 class='text-info'>
	<ul>
		<li>gas sensors
			<li>
				<li>somke detector</li>
				<li>internet 無綫門窗感應</li>
				<li>internet enabled 開關控制</li>
				<li>無綫開關定時</li>
				<li>小偷入侵 email/text message 通知</li>
				</u1>
</h3>
<hr>

<h2>透過 internet 控制家電開關</h2>
<video width='854' height='480' controls>
	<source src="../assets/videos/ctrl.mp4" type="video/mp4">
</video>
<hr>
<h2>模擬窗戶被打開的狀況 (自動email通知)</h2>
<video width='854' height='480' controls>
	<source src="../assets/videos/sensor.mp4" type="video/mp4">
</video>
<hr>
<h2>設定時間自動開關家電</h2>
<video width='854' height='480' controls>
	<source src="../assets/videos/cron.mp4" type="video/mp4">
</video>