<em>
	
</em>
<cite> author </cite> 2,000 <abbr tilte='New Taiwan Dollar'>NTD</abbr>

<form class='form' autocomplete="on">
	<label>User name
		<br>
		<input type="text">
	</label>
	<label>
		<br>Password
		<br>
		<input type="password">
	</label>
	<fieldset class='form-section'>
		<legend>Interests:</legend>
		<p>What interests do you have in regrads to bees? Please select all that apply:</p>
		<label name='interest'>
			<input type='checkbox' for='interests'>Beepkeeping as a hobby</label>
		<label name='interest'>
			<input type='checkbox' for='interests'>Beepkeeping for research</label>
		<label name='interest'>
			<input type='checkbox' for='interests'>Honey production</label>
	</fieldset>
	<button type='submit'>Submit</button>
</form>