<h2 class='text-primary'>
	We provide home security and automation solutions to customers, who can choose idividual function/components met their requirements.
	Our products include:</h2>
	<h3 class='text-info'>
		<ul>
			<li>door sensor</li>
			<li>internet 無綫門窗感應</li>
			<li>internet enabled 開關控制</li>
			<li>無綫開關定時</li>
			<li>小偷入侵 email/text message 通知</li>
		</u1>	
	</h3>
	<hr>
<video>
	a demo vidoe will be playing here.
</video>

<cite> author </cite> 2,000 <abbr tilte='New Taiwan Dollar'>NTD</abbr>

<form class='form' autocomplete="on">
	<label>User name
		<br>
		<input type="text">
	</label>
	<label>
		<br>Password
		<br>
		<input type="password">
	</label>
	<fieldset class='form-section'>
		<legend>Interests:</legend>
		<p>What interests do you have in regrads to bees? Please select all that apply:</p>
		<label name='interest'>
			<input type='checkbox' for='interests'>Beepkeeping as a hobby</label>
		<label name='interest'>
			<input type='checkbox' for='interests'>Beepkeeping for research</label>
		<label name='interest'>
			<input type='checkbox' for='interests'>Honey production</label>
	</fieldset>
	<button type='submit'>Submit</button>
</form>