<div class="row">
	<div class ='col-sm-3'>
		<div class='pdsa-summary-block pdsa-block-success'>
			<div class="summary-bg">
				<i class="fa fa-video-camera"></i>
			</div>
			<div class='summary-body'>
				<iframe width='50%' height='50%' src='http://ubuy.asuscomm.com:8080/video.cgi' frameborder="0">
				<p>Your browser does not support iframes. It, however, works on Chrome</p>
				</iframe>
				
			</div>
			<div class="summary-footer">
				<a href='#'>Cameras & icon</a>
			</div>
		</div>
	</div>
	<div class ='col-sm-3'>
		<div class='pdsa-summary-block pdsa-block-primary'>
			<div class="summary-bg">
				<i class="fa fa-home fa-fw"></i>				
			</div>
			<div class='summary-body'>
				<div class='summary-line-1'>14</div>
				<div class='summary-line-2'>eHome</div>
			</div>
			<div class="summary-footer">
				<a href='#'>Smart Home & icon</a>
			</div>
		</div>
	</div>
	<div class ='col-sm-3'>
		<div class='pdsa-summary-block pdsa-block-primary'>
			<div class="summary-bg">
				<i class="fa fa-home fa-fw"></i>				
			</div>
			<div class='summary-body'>
				<div class='summary-line-1'>14</div>
				<div class='summary-line-2'>eHome</div>
			</div>
			<div class="summary-footer">
				<a href='#'>Smart Home & icon</a>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class ='col-sm-3'>
		<div class='pdsa-summary-block pdsa-block-info'>
			<div class="summary-bg">
				<i class="fa fa-cogs"></i>
			</div>
			<div class='summary-body'>
				<div class='summary-line-1'>14</div>
				<div class='summary-line-2'>Genres</div>
			</div>
			<div class="summary-footer">
				<a href='#'>Settings & icon</a>
			</div>
		</div>
	</div>
	<div class ='col-sm-3'>
		<div class='pdsa-summary-block pdsa-block-warning'>
			<div class="summary-bg">
				<i class="fa fa-tachometer"></i>
			</div>
			<div class='summary-body'>
				<div class='summary-line-1'>14</div>
				<div class='summary-line-2'>Genres</div>
			</div>
			<div class="summary-footer">
				<a href='#'>Settings & icon</a>
			</div>
		</div>
	</div>
	<div class ='col-sm-3'>
		<div class='pdsa-summary-block pdsa-block-primary'>
			<div class="summary-bg">
				<i class="fa fa-home fa-fw"></i>				
			</div>
			<div class='summary-body'>
				<div class='summary-line-1'>14</div>
				<div class='summary-line-2'>eHome</div>
			</div>
			<div class="summary-footer">
				<a href='#'>Smart Home & icon</a>
			</div>
		</div>
	</div>
</div>