<div class="row">
	<div class ='col-xs-12 col-sm-4'>
		<div class='pdsa-summary-block pdsa-block-success'>
			<div class="pdsa-summary-bg">
				<p>icon</p>
			</div>
			<div class='summary-body'>
				<iframe width='50%' height='50%' src='http://ubuy.asuscomm.com:8080/video.cgi' frameborder="0">
				<p>Your browser does not support iframes. It, however, works on Chrome</p>
				</iframe>
				
			</div>
			<div class="summary-footer">
				<a href='#'>Cameras & icon</a>
			</div>
		</div>
	</div>
	<div class ='col-xs-12 col-sm-4'>
		<div class='pdsa-summary-block pdsa-block-primary'>
			<div class="pdsa-summary-bg">
				<p>icon</p>
			</div>
			<div class='summary-body'>
				<div class='summary-line-1'>14</div>
				<div class='summary-line-2'>eHome</div>
			</div>
			<div class="summary-footer">
				<a href='#'>Smart Home & icon</a>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class ='col-xs-12 col-sm-4'>
		<div class='pdsa-summary-block pdsa-block-info'>
			<div class="pdsa-summary-bg">
				<p>icon</p>
			</div>
			<div class='summary-body'>
				<div class='summary-line-1'>14</div>
				<div class='summary-line-2'>Genres</div>
			</div>
			<div class="summary-footer">
				<a href='#'>Settings & icon</a>
			</div>
		</div>
	</div>
	<div class ='col-xs-12 col-sm-4'>
		<div class='pdsa-sensor-block pdsa-block-warning'>
			<div class="pdsa-sensor-bg">
				<p>icon</p>
			</div>
			<div class='sensor-body'>
				<div class='sensor-line-1'>14</div>
				<div class='sensor-line-2'>Genres</div>
			</div>
			<div class="sensor-footer">
				<a href='#'>View Sensors & icon</a>
			</div>
		</div>
	</div>
</div>