.nav {
	padding-left: 0;
	collor: #FFFFFF;
	background-color: #CC3333;
}

.nav a {
	color: red;
	text-decoration: none;
}

.header img {
	display: block;
	margin: 0 auto 0 auto;
}

.navbar {
	margin-bottom: 0px;
	padding: 10px 15px;
}

.navbar-fixed-top {
	background-color: yellow;
}