.nav {
	padding-left: 0;
	color: #FFFFFF;
	background-color: rgba(0,0,0,.1);
}

.nav a {
	color: red;
	text-decoration: none;
}

.header img {
	display: block;
	margin: 0 auto 0 auto;
}

.navbar {
	margin-bottom: 0px;
	padding: 10px 15px;
	transition: all 0.5s;
}

.navbar-fixed-top {
	background-color: yellow;
}