/*
.fa-power-off {
	background: red;
}
*/

.btn {
	margin: 10px;
}


/* spacing between widgets */

section.col-sm-4 {
	padding-left: 0;
	padding-right: 10px;
}

.body-content {
	-webkit-transition: margin-left 0.3s linear;
	transition: margin-left 0.3s linear;
	margin-left: 14em;
	margin-top: 0.5em;
	width: 85%;
}

/*
@media all and (max-width:768px) {
	.pdsa-sn-wrapper {
		left: -13em;
	}
	.body-content {
		margin-left: 0em;
	}
}
*/

/*
.img-responsive {
	display: inline;	
	border: 3px solid burlywood;
	margin: 0px auto;
}
*/

.pdsa-sn-wrapper {
	-webkit-transition: left 0.3s linear;
	transition: left 0.3s linear;
	position: absolute;
	top: 3.6em;
	left: 0em;
	width: 13em;
	height: 100%;
	background-color: #abc123;
}

.pdsa-summary-block .summary-bg i {
	margin-left: -0.4em;
	margin-top: 0.1em;
	/* font-size: 8em; */
	opacity: 0.3;
}

.pdsa-summary-block {
	position: relative;
	width: 100%;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	margin-left: 0.15em;
	margin-right: 0.15em;
	padding: 1em;
	min-height: 15em;
	/*se
	border-color: #6495ED;
	 border-radius: 4px; */
}

.pdsa-summary-block .summary-body {
	position: absolute;
	top: 1.3em;
	right: 0.8em;
}

.pdsa-summary-block .summary-body .summary-line-1 {
	text-align: right;
	font-size: large;
}

.pdsa-summary-block .summary-body .summary-line-2 {
	color: whilte;
	text-align: right;
	font-size: medium;
}

.pdsa-summary-block .summary-footer {
	position: absolute;
	bottom: 0em;
	right: 0em;
	width: 100%;
	padding: 0.4em;
	font-weight: 300;
	text-transform: uppercase;
	font-size: small;
	opacity: 0.6;
}

.pdsa-summary-block-primary .summary-footer {
	background-color: deepskyblue;
}

.summary-footer {
	text-shadow: black;
	color: white;
}
.summary-footer a {
	color: white;
}

.pdsa-block-primary {
	color: #fff;
	background-color: #428bca;
}

.pdsa-block-default {
	color: #fff; 
	background-color: #333;
}

.pdsa-block-info {
	color: #fff;
	background-color: #5bc0de;
}

.pdsa-block-success {
	color: #fff;
	background-color: #5cb85c;
}

.pdsa-block-warning {
	color: #fff;
	/* background-color: #f0ad4e; */
	background-color: #414;
}

.pdsa-block-danger {
	color: #fff;
	background-color: #d9534f;
}

pdsa-summary-block:hover {
	opacity: 1;
	cursor: pointer;
}

#nasaImg {
	height: 210px;
	border: 0px;
	background-size: cover;
	background-image: no-repeat;
	margin: 2.1px 4.2px;
}
	