<header>
    <!-- mobile ver -->
    <nav class='navbar navbar-inverse navbar-static role=navigation'>
        <div class="container-fluid">
            <div class='navbar-header'>
                <!-- Brand and toggle get grouped for better mobile display -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                <a ng-href="/home" class='navbar-brand'><b>HOME AUTOMATION</b></a>
            </div>
            <div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>
                <ul class='nav navbar-nav navbar-left'>
                    <li><a ng-href="/home"><i class="fa fa-home"></i></a></li>
                    <li><a ng-href="/devivesControl"><i class="fa fa-plug"></i> Control</a></li>
                    <li><a ng-href="/settings"><i class="fa fa-cogs"></i> Settings</a></li>
                     <li><a ng-href="/sensors"><i class="fa fa-tachometer"></i> Sensors</a></li>
                    <li><a ng-href="/about">About me</a></li>
                </ul>

                <ul class='navbar-form navbar-right'>
                    <li><a ng-href="/auth/google" class='googleplus'><i ng-class="hasAuthorized? 'fa fa-unlock fa-2x' : 'fa fa-lock fa-2x'"></i></a></li>
                </ul>
            </div>
            <!-- navbar-collapse -->
        </div>
    </nav>
</header>