<section>
    <h1>{{device.name}} 開關定時設定 - 第{{count+1}}組</h1>


    <div class='well well-sm pdsa-block-danger'>
        <h3><i class="fa fa-toggle-on" aria-hidden="true"></i> 開： </h3>
        <cron-selection output="device.cronJobs[count].on" config="myConfig"></cron-selection>
        {{device.cronJobs[count].on}}
    </div>

    <div class='well well-sm pdsa-block-success'>
        <h3><i class="fa fa-toggle-off" aria-hidden="true"></i> 関：</h3>
        <cron-selection output="device.cronJobs[count].off" config="myConfig"></cron-selection>
        {{device.cronJobs[count].off}}
    </div>

    <!--
  <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary active">
    <input type="checkbox" checked autocomplete="off"> Checkbox 1 (pre-checked)
  </label>
        <label class="btn btn-primary">
    <input type="checkbox" autocomplete="off"> Checkbox 2

    </div>
-->
    <button class="btn btn-warning" ng-click="count = count+1">新增下一組</button>
    <button class="btn btn-primary" ng-click="saveEdit(device, count)">Save & Exit</button>
    <button class="btn btn-default" ng-click="cancelEdit()">Cancel</button>
</section>