<section>
    <h1>{{vm.selectedDevice.name}} 開關定時設定 - 第{{vm.tmpJob.id+1}}組</h1>

    <div class='well well-sm pdsa-block-danger'>
        <h3><i class="fa fa-toggle-on" aria-hidden="true"></i> 開： </h3>
        <cron-selection output="vm.tmpJob.on" config="vm.myConfig"></cron-selection>
        {{vm.tmpJob.on}}
    </div>

    <div class='well well-sm pdsa-block-success'>
        <h3><i class="fa fa-toggle-off" aria-hidden="true"></i> 関：</h3>
        <cron-selection output="vm.tmpJob.off" config="vm.myConfig"></cron-selection>
        {{vm.tmpJob.off}}
    </div>
</section>

<div class='button-wrapper'>
    <button class='btn btn-lg btn-primary' ng-click='vm.addJob(vm.tmpJob)'><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
    <button class='btn btn-lg btn-danger' ng-click='vm.removeAllJobs()'><i class="fa fa-trash-o fa-lg"></i> 全部刪除</button>
</div>

<section>
    <table class="table table-striped table-condensed table-bordered table-hover table-responsive">
        <thead>
            <tr class='info'>
                <th>組別</th>
                <th>星期</th>
                <th>時</th>
                <th>分</th>
                <th>開/関</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat='job in vm.cronJobs'>
                <td>{{$index+1}}</td>
                <td>{{job.dow}}</td>
                <td>{{job.h}}</td>
                <td>{{job.m}}</td>
                <td>{{$index%2? 'Off': 'On'}}</td>

                <td><button class='btn btn-warning' ng-click='vm.removeJob($index+1)'><i class="fa fa-trash-o fa-lg"></i> 刪除</button></td>
            </tr>
        </tbody>
    </table>
</section>