<!-- mobile ver -->
<nav class='nav navbar navbar-default navbar-static role=navigation'>
    <div class="container">
        <div class='navbar-header'>
            <a ng-href="#" class='navbar-brand'>HOME AUTOMATION</a>
        </div>
        <ul class='nav navbar-nav'>
            <li><a ng-href="#/home">Home</a></li>
            <li><a ng-href="#/devivesControl">Control</a></li>
            <li><a ng-href="#/settings">Settings</a></li>
            <li><a ng-href="#/about">About me</a></li>
        </ul>
        <ul class='nav navbar-nav navbar-right' ng-hide='hasloggedIn'>
            <li><a ng-href="#/login">Log in</a></li>
        </ul>
    </div>
</nav>

